// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;


$black: #000;
$greyish-brown: #4a4a4a;
$bright-orange: #f26002;
$white-two: #f2f2f2;
$white: #fff;
$black-20: rgba(0, 0, 0, 0.2);
