.section1 {
    width: 100%;
    background-color: white;
}

.text1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 100px;
    gap:10px;
    

    h2 {
        font-size: 12px;
        color: orange;
        font-weight: lighter;
    }

    h3 {
        font-size: 20px;
        color: black;
        font-weight:bold ;
    }

    p {
        color: gray;
    }
    
}



.rectangulo1 {
    border: solid 2px orange;
    border-radius: 20px;
    width: fit-content;
    a {
    padding: 20px;
    text-decoration: none;
    color: orange;
}
}