<footer class="footer">

    <div class="ico-arrow">
    <a href="#">
     <img  src="./images/ico-arrow.svg" alt="subir"> 
    </a>
    </div>
    <nav class="menu_footer">
        <ul class="menu_list_footer"> 
            <li> ©2023 </li>
            <li> we ❤︎ run </li>
        </ul>
        <ul class="menu_list_footer"> 
            <li> ZAPATILLAS  </li>
            <li> ROPA  </li>
            <li> NIÑO/A </li>
            <li> DESTACADOS </li>
            <li> Tips </li>
        </ul>
        <ul class="menu_list_footer"> 
            <li> TWITTER </li>
            <li> INSTAGRAM </li>
            <li> YOUTUBE </li>
        </ul>
    </nav>

</footer>