<footer class="footer">

    <div class="ico-arrow">
    <a href="#">
     <img  src="./images/ico-arrow.svg" alt="subir"> 
    </a>
    </div>
    <nav class="menu_footer">
        <ul class="menu_list_footer"> 
            <li> ©2023 </li>
            <li> we <span class="heart"> ❤︎ </span> run </li>
        </ul>
        <ul class="menu_list_footer"> 
            <li> <a href="https://adalab.es/"> ZAPATILLAS </a> </li>
            <li> <a href="https://adalab.es/"> ROPA </a>  </li>
            <li> <a href="https://adalab.es/"> NIÑO/A </a>  </li>
            <li> <a href="https://adalab.es/"> DESTACADOS </a>  </li>
            <li> <a href="https://adalab.es/"> Tips </a>  </li>
        </ul>
        <ul class="menu_list_footer"> 
            <li> <a href="https://adalab.es/"> TWITTER </a>  </li>
            <li> <a href="https://adalab.es/"> INSTAGRAM </a>  </li>
            <li> <a href="https://adalab.es/"> YOUTUBE </a>  </li>
        </ul>
    </nav>

</footer>